@font-face{
    font-family: vazir;
    src: url(../fonts/Vazirmatn-VariableFont_wght.ttf);
}

html{
    font-size: 62.5%;
}

body{
    font-family: vazir Arial, Helvetica, sans-serif;
}
        
:root {
  --Purple: #270257;
  --Yellow: #feb100;
  --Black: #000000;
  --White: #ffffff;
  --Nav-button: rgba(255, 255, 255, 0.05);
  --Nav-hover: rgba(255, 255, 255, 0.1);
}

.header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
    background: url("../images/banner.png");
    background-repeat: no-repeat;
    background-size: cover;

}
.navbar{
    display: flex;
    width: 100%;
    justify-content: flex-start;

}
.nav-item{
    text-decoration: none;
    color: var(--White);
    background-color: var(--Nav-button);
    margin: 0.5rem;
    font-size: 2rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    transition: 0.2s ease-in-out;
}
.nav-item:hover{
    background-color: var(--Nav-hover);
    transform: translateY(0.2rem);
}

@media only screen and (max-width:600px){
    .header{
        background: url(../images/banner-mobile.png);
        background-size: cover;
    }
    .navbar{
        flex-direction: column;
    }
    .nav-item{
        width: max-content;
    }
}